src/main/rnc-schema/d-spin-local_5.rnc

default namespace = "http://www.dspin.de/data"
namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"

element D-Spin { 

  attribute version { "5" },
  attribute xsi:schemaLocation {text}?,

  external "metadata_0_4.rnc",
  external "extdata_0_4.rnc"?,
  (external "textcorpus_5.rnc" |
   external "lexicon_0_4.rnc")
   
}


